<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmnow.wibeantakethree.brewingprograms">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BrewingProgramListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_viewBrewingProgram">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.wibean.com"
                    android:pathPrefix="/brewingProgram/v1"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.BrewingProgramContentProvider"
            android:authorities="com.jmnow.wibeantakethree.brewingprograms.data.contentprovider"
            android:exported="false"
            android:multiprocess="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions needed for TI SmartConfig -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- END SmartConfig Permissions -->

</manifest>
